* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
}

.download-btn {
  width: 14em;
  margin: 5px 0;
  padding: 1em;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  border: none;
}

.ios {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 2px solid hsl(210, 10%, 33%);
}

.android {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 2px solid hsl(233, 45%, 38%);
}

.ios:hover {
  background-color: hsl(171, 63%, 39%);
}

.android:hover {
  background-color: hsl(233, 63%, 59%);
}

.header {
  width: 100%;
  background-image: url("../images/bg-header-mobile.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 8em;
}
@media (min-width: 768px) {
  .header {
    background-image: url("../images/bg-header-desktop.png");
  }
}
.header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .logo-container {
  width: 100px;
  height: 100px;
  margin-top: 5em;
  background-image: url("../images/logo.svg");
  background-size: 100% 100%;
}
.header h1 {
  width: 85%;
  margin: 2.5em 0 0.8em 0;
  display: block;
  color: hsl(210, 10%, 33%);
}
.header p {
  text-align: center;
  width: 90%;
  margin-bottom: 1.5em;
  color: hsl(201, 11%, 66%);
}
.header .header-second-row {
  width: 85%;
}
@media (min-width: 768px) {
  .header .header-second-row {
    flex-direction: row;
    justify-content: center;
  }
  .header .header-second-row a {
    margin: 0 2em;
  }
}

.first-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section .fs-first-row {
  width: 85%;
}
.first-section .fs-first-row h2 {
  color: hsl(210, 10%, 33%);
  text-align: center;
  font-size: 1.8em;
}
.first-section .fs-first-row p {
  text-align: center;
  color: hsl(201, 11%, 66%);
  margin: 1.2em 0;
}
.first-section .fs-second-row {
  width: 85%;
  margin: 1.8em;
}
.first-section .fs-second-row img {
  width: 100%;
}
.first-section .fs-third-row {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.first-section .fs-third-row div {
  margin: 1.2em 0;
}
.first-section .fs-third-row div h3 {
  font-size: 1.5em;
  margin: 5px 0;
  color: hsl(210, 10%, 33%);
}
.first-section .fs-third-row div p {
  margin: 10px 0;
  color: hsl(201, 11%, 66%);
}
@media (min-width: 1024px) {
  .first-section {
    margin-bottom: 2.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .first-section .fs-first-row {
    width: 60%;
    margin: 1.8em 0;
  }
  .first-section .fs-second-row {
    width: 55%;
    margin: 0;
  }
  .first-section .fs-second-row img {
    width: 100%;
  }
  .first-section .fs-third-row {
    width: 40%;
    margin: 0;
    text-align: left;
  }
  .first-section .fs-third-row div {
    width: 100%;
    padding-left: 1.5em;
  }
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section div {
  width: 85%;
  margin: 1em 0;
  text-align: center;
}
.second-section div h2 {
  font-size: 1.6em;
  color: hsl(210, 10%, 33%);
}
.second-section div p {
  color: hsl(201, 11%, 66%);
  margin: 10px 0;
}
.second-section div img {
  width: 100%;
}
@media (min-width: 1024px) {
  .second-section {
    margin-top: 1.8em;
  }
  .second-section div {
    width: 70%;
  }
}

.third-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.4em;
}
.third-section div {
  width: 80%;
  text-align: center;
  margin: 1em 0;
}
.third-section div h3 {
  color: hsl(210, 10%, 33%);
  margin: 10px 0;
}
.third-section div p {
  color: hsl(201, 11%, 66%);
}
@media (min-width: 768px) {
  .third-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .third-section .ts-header {
    width: 100%;
  }
  .third-section .ts-icon {
    width: 25%;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section img {
  margin: 1.4em 0;
}
@media (min-width: 768px) {
  .fourth-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fourth-section img {
    width: 15%;
  }
}

.fifth-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.4em 0;
}
.fifth-section div {
  width: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2em 0;
}
.fifth-section div h2 {
  color: hsl(210, 10%, 33%);
  margin: 1.2em 0;
}
.fifth-section div p {
  color: hsl(201, 11%, 66%);
}
@media (min-width: 768px) {
  .fifth-section .fs-second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fifth-section .fs-second-row a {
    display: block;
    margin: 0 2em;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(203, 27%, 87%);
}
.footer a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}
.footer div {
  margin: 1em 0;
}
.footer ul li {
  list-style: none;
  text-align: center;
  margin: 1em 0;
}
.footer .logo-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo-icon-container img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-media-icons-container {
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .social-media-icons-container i {
  font-size: 1.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-media-icons-container i:hover {
  color: hsl(171, 63%, 39%);
}
.footer .attribution {
  font-size: 11px;
  text-align: center;
}
.footer .attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 768px) {
  .footer {
    padding: 1.5em;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
  }
  .footer ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .footer ul li {
    width: 30%;
    margin: 0.5em 0;
  }
  .footer .attribution {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */